@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

/* Styling and classes used throughout site starts here */

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.bg-navy {
	background-color: #280061 !important;
}

.bg-black-transparant {
	background-color: #000000c7 !important;
}

.bg-black {
	background-color: #000000 !important;
}

.color-light-grey {
	color: rgb(228, 228, 228) !important;
}

.color-navy {
	color: #280061 !important;
}

.color-white {
	color: white !important;
}

.bg-navy {
	background-color: #280061 !important;
}

.bg-grey {
	background-color: #e0e0e0 !important;
}

.bg-orange {
	background-color: #FA4119!important;
}

.bg-green {
	background-color: #9DFB01!important;
}

.boder-navy {
	border-style: solid !important;
	border-width: 1px !important;
	border-color: rgba(40, 0, 97, 0.57) !important;
}

.boder-white {
	border-color: rgb(255, 255, 255) !important;
}

.font-bold {
	font-weight: bold;
}

.border-radius-5px {
	border-radius: 5px;
}

.font-1-bold {
	font-weight: 700;
	font-family: 'Orbitron', sans-serif;
}

.font-1-bolder {
	font-weight: 900;
	font-family: 'Orbitron', sans-serif;
}

/* Styling and classes used throughout site ends here */

body {
	background-image: url("../img/bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: auto;
	min-height: calc(100vh + 80px);
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	height: auto;
}

nav {
	background-color: black;
	height: 80px;
	z-index: 3;
}

.navbar-collapse {
	background-color: black;
	margin-right: -16px !important;
	margin-left: -16px !important;
}

.navbar-nav {
	align-items: flex-end;
	text-align: right;
}

.navbar-nav li {
	width: 90px;
	margin: 2vh 0;
	margin-right: 22px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: white;
}

#index-content {
	min-height: calc(78vh + 80px);
	padding: 0;
	margin-top: 0;
	margin-bottom: 0vh;
	width: 100%;
	position: absolute;
	top: 22vh;
	font-size: 15px;
}

#index-wrap-outer {
	height: 39vh;
	padding: 0;
}

#index-wrap-inner {
	width: 100%;
	padding: 0 0vw;
	padding-bottom: 20px;
	padding-top: 7vh;
}

#display-games-search {
	max-height: calc(39vh + 80px);
	overflow: auto;
	text-align: left;
	padding: 0px 10px;
}

#show-on-short-screen {
	display: none !important;
}

#reset-confirm {
	margin-bottom: 20px;
	margin-top: 20px;
}




/* index.html styling at screen heights under 500px starts here */

@media only screen and (max-height: 500px) {
	body {
		background-image: url("../img/bg.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: auto;
		min-height: calc(80vw + 80px);
	}
	footer {
		position: fixed;
		left: 0;
		bottom: 0;
		height: 20px;
	}
	nav {
		background-color: black;
		height: 80px;
		z-index: 3;
	}
	.navbar-collapse {
		background-color: black;
		margin-right: -16px !important;
		margin-left: -16px !important;
	}
	.navbar-nav {
		align-items: flex-end;
		text-align: right;
	}
	.navbar-nav li {
		width: 90px;
		margin: 2vh 0;
		margin-right: 22px;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		border-bottom-color: white;
	}
	#index-content {
		min-height: 80vw;
		padding: 0;
		margin-top: 1vh;
		margin-bottom: 15vh;
		width: 100%;
		position: absolute;
		top: 74px;
		font-size: 15px;
	}
	#index-wrap-outer {
		height: 40vw;
		padding: 0;
	}
	#index-wrap-inner {
		width: 100%;
		padding: 0 0vw;
		padding-bottom: 20px;
		padding-top: 10px;
	}
	#display-games-search {
		max-height: 40vw;
		overflow: auto;
		text-align: left;
		padding: 0px 10px;
	}
	#show-on-short-screen {
		display: contents !important;
	}
	#index-content h1 {
		font-size: 40px;
	}
	/* #space{
	height: 30vw;
} */
}


/* index.html styling at screen heights under 500px ends here */