.float-left{
    float: left !important;
}

.float-right{
    float: right !important;
}

.bg-navy{
    background-color: #280061 !important;
}

.color-navy{
    color: #280061 !important;
}

.color-white{
    color: white !important;
}

.bg-navy{
    background-color: #280061 !important;
}

.boder-navy{
    border-style: solid !important;
    border-width: 1px !important;
    border-color: rgba(40, 0, 97, 0.57) !important;
}

.font-bold{
    font-weight: bold;
}

.border-radius-5px{
    border-radius: 5px;
}

