{% extends "base.html" %}
{% block content %}
<div>
    {% for x in gpus %}
    <hr>
    <p>
        <strong class="ml-3">Model: </strong>{{ x.model }} <strong>&nbsp;Rating: </strong>{{ x.rating }}&nbsp;&nbsp;
        <button id="span-insert-{{ x.rating }}" class="btn btn-link" data-number="{{ x.rating }}"
            onclick="display(this.dataset.number, this.id)">Insert</button>&nbsp;
        <button form="delete-gpu-{{ x.rating }}" class="btn btn-link" type="submit">Delete</button>
    </p>
    <form class="gpu-form" style="display: none;" id="insert-gpu-{{ x.rating }}" action="{{ url_for('admin') }}"
        method="post">
        <p class="ml-3" id="close-form-{{ x.rating }}" data-number="{{ x.rating }}"
            onclick="display(this.dataset.number, this.id)">Close</p>
        <input class="ml-3" type="text" name="insert-gpu-model" id="insert-gpu-model-{{ x.rating }}" minlength="4">
        <textarea style="display: none" class="hidden-text" name="insert-gpu-rating">{{ x.rating }}</textarea>
        <button form="insert-gpu-{{ x.rating }}" id="button-{{ x.rating }}" data-number="{{ x.rating }}"
            onclick="display(this.dataset.number, this.id)" type="submit">
            Insert</button>
    </form>
    <form style="display: none;" id="delete-gpu-{{ x.rating }}" action="{{ url_for('admin') }}" method="post"
        onSubmit="return confirm('Are you sure you want to delete {{ x.model }}?');">
        <textarea style="display: none" class="hidden-text" name="delete-gpu-rating">{{ x.rating }}</textarea>
    </form>
    {% endfor %}
</div>
<script type="text/javascript" src="/static/js/reset_index.js"></script>
<script>
    var on_off = 0
    // Function to control when elements are displayed.
    function display(data_number, id) {
        if (id == `span-insert-${data_number}` && on_off == 0) {
            var forms = document.getElementsByClassName('gpu-form');
            for (var i = 0; i < forms.length; i += 1) {
                forms[i].style.display = 'none';
            }
            document.getElementById(`insert-gpu-${data_number}`).style.display = "contents";
            on_off = 1;
        }
        else if (on_off == 1) {
            document.getElementById(`insert-gpu-${data_number}`).style.display = "none";
            on_off = 0;
        }
        else if (id == `close-form-${data_number}`) {
            var forms = document.getElementsByClassName('gpu-form');
            for (var i = 0; i < forms.length; i += 1) {
                forms[i].style.display = 'none';
            }
        }
    }
</script>
{% endblock %}