{% extends "base.html" %}
{% block content %}
<div>
    {% for x in gpus %}
    <hr>
    <p>
        <strong class="ml-3">Model: </strong>{{ x.model }} <strong>&nbsp;Rating: </strong>{{ x.rating }}&nbsp;&nbsp;
        <span id="span-insert-{{ x.rating }}" data-number="{{ x.rating }}"
            onclick="display(this.dataset.number, this.id)">Insert</span>&nbsp;
        <span id="span-delete-{{ x.rating }}" data-number="{{ x.rating }}"
            onclick="display(this.dataset.number, this.dataset.id)">Delete</span>
    </p>
    <form class="gpu-form" style="display: none;" id="insert-gpu-{{ x.rating }}" action="{{ url_for('admin') }}"
        method="post">
        <label class="ml-3 d-block font-weight-bold" for="insert-gpu-model-{{ x.rating }}">Insert</label>
        <input class="ml-3" type="text" name="insert-gpu-model" id="insert-gpu-model-{{ x.rating }}" minlength="4">
        <textarea style="display: none" class="hidden-text" name="insert-gpu-rating">{{ x.rating }}</textarea>
        <button form="insert-gpu-{{ x.rating }}" id="button-{{ x.rating }}" data-number="{{ x.rating }}"
            onclick="display(this.dataset.number, this.id)" type="submit">
            Insert</button>
    </form>
    {% endfor %}
</div>
<script type="text/javascript" src="/static/js/reset_index.js"></script>
<script>
    // Function to control when elements are displayed.
    function display(data_number, id) {
        if (id == `span-insert-${data_number}`) {
            var forms = document.getElementsByClassName('gpu-form');
            for (var i = 0; i < forms.length; i += 1) {
                forms[i].style.display = 'none';
            }
            document.getElementById(`insert-gpu-${data_number}`).style.display = "contents";
            return;
        }
    }
</script>
{% endblock %}