{% extends "base.html" %}
{% block content %}
<section id="index-content"
    class="container-fluid col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 color-white font-1-bolder">
    <div id="index-wrap-outer" class="text-center container-fluid">
        <div id="index-wrap-inner" class="text-center container-fluid bg-black-transparant">
        <div class="text-center">
            <h1>Can your GPU run it?</h1>
            <p>Search for your GPU and a game in the fields below.</p>
        </div>
        <!-- Form that takes user game input and sends to backend to search database -->
        <form action="{{ url_for('search_game_homepage') }}" method="post">
            <!-- Add autocomplete="off" to input when testing is complete for UX purposes-->
            <input type="text" name="query-game" id="query-game" minlength="3"
                class="validate gpu-and-game-search-forms" required>
            <button onclick="display_results()" class="search-button bg-green font-1-bold" type="submit">
                Search</button>
        </form>

        <!-- Form that takes user gpu input and sends to backend to search database -->
        <form action="{{ url_for('search_gpu_homepage') }}" method="post">
            <input type="text" name="query-gpu" id="query-gpu" minlength="3" class="validate gpu-and-game-search-forms"
                required>
            <button onclick="display_results()" class="search-button bg-green font-1-bold" type="submit">
                Search</button>
        </form>
        <div id="reset-confirm" class="container-fluid pb-2 mb-4 mt-2">
            <button class="bg-white font-1-bolder col-6 submit-button button-style float-left" id="reset"
                onclick="reset()">Reset
            </button>
            <button class="bg-green font-1-bolder submit-button button-style float-right col-6"
                id="submit_to_python_button" form="submit_to_python" type="submit">Confirm
            </button>
        </div>
    
    <!-- Div displays after user search for gpu has been sent. Displays the results of the search -->
    <div id="display-games-search" >
        
        <div id="user_select_form" style="display:none" class="row">
            <div class="text-center p-0 m-0">
                <h5 id="show-on-short-screen" style="display:none">Select Below &darr;</h5>
            </div>
            {% for x in game_list %}
            <hr class="border-white">
            <!-- When user clicks this link, the game name and id are stored and the results box disappear -->
            <p class="color-white cursor-p" onclick="display_game_choice(this.id, this.dataset.id)" name="game_choice"
                id="{{ x.name }}" data-id="{{ x.appid }}">{{ x.name }}</p>
            {% endfor %}

            {% for x in gpu %}
            <hr class="border-white">
            <!-- When user clicks this link, the gpu model and rating are stored and the results box disappear -->
            <p class="color-white cursor-p" onclick="display_gpu_choice(this.id, this.dataset.id)" name="game_choice"
                id="{{ x.model }}" data-id="{{ x.rating}}">{{ x.model }}</p>
            {% endfor %}
        </div>
    </div>

    <!-- When user clicks submit, the gpu model and game name are sent to the backend -->
    <form id="submit_to_python" method="post" action="{{ url_for('check') }}">
        <!-- JS changes the text area vaule to the game name -->
        <textarea style="display: none" class="hidden-text" id="submit-game-name" name="game-name"></textarea>
        <!-- JS changes the text area vaule to the game id -->
        <textarea style="display: none" class="hidden-text" id="submit-game-id" name="game-id"></textarea>
        <!-- JS changes the text area vaule to the gpu model -->
        <textarea style="display: none" class="hidden-text" id="submit-gpu-model" name="gpu-model"></textarea>
        <!-- JS changes the text area vaule to the gpu rating -->
        <textarea style="display: none" class="hidden-text" id="submit-gpu-rating" name="gpu-rating"></textarea>
    </form>
</div>
</div>
</section>

<script src="{{ url_for('static', filename='js/reset_profile_page_variable.js') }}"></script>
<script>
    // IF statements prevent input user GPU/Game input field placeholders loading as NULL when session data is empty.
    // Else sets placeholder values to session data when available
    if ((sessionStorage.getItem('name') == null)) {
        document.getElementById("query-game").placeholder = "Search Game";
    }
    else {
        document.getElementById("query-game").placeholder = sessionStorage.getItem('name');
    }
    if ((sessionStorage.getItem('gpu') == null)) {
        document.getElementById("query-gpu").placeholder = "Search GPU";
    }
    else {
        document.getElementById("query-gpu").placeholder = sessionStorage.getItem('gpu');
    }

    // If the display session storage has a value, the results box value will be set to the session item.
    // Otherwise, it will stay as the inline style of "display:none"
    // This ensures on initial page load, the results box wont be displayed
    if (sessionStorage.getItem('display') != null) {
        document.getElementById("user_select_form").style.display = sessionStorage.getItem('display');
    }

    // Displays the results box only after the search button has been used. The backend data is then displayed in this results box
    function display_results() {
        sessionStorage.setItem('display', 'contents');
    }

    function display_game_choice(id, data_id) {
        // Set game name in session storage
        var game = id;
        sessionStorage.setItem('name', game);
        // Set game id session storage
        var appid = data_id;
        sessionStorage.setItem('appid', appid);
        // Hide game search results box
        sessionStorage.setItem('display', 'none');
        document.getElementById("user_select_form").style.display = sessionStorage.getItem('display');
        // Set inner html of hidden text area that stores game id to be sent to the backend
        // var game_choice = sessionStorage.getItem('appid');
        // Changes the game search input placeholder to that of the user choice
        document.getElementById("query-game").placeholder = sessionStorage.getItem('name');
        // Updates the session storage value for the game name
        document.getElementById('submit-game-name').innerText = sessionStorage.getItem('name');
        // Updates the session storage value for the game id
        document.getElementById('submit-game-id').innerText = sessionStorage.getItem('appid');

    }

    function display_gpu_choice(id, data_id) {
        // Set gpu model in session storage
        var model = id;
        sessionStorage.setItem('gpu', model);
        // Set gpu rating session storage
        var rating = data_id;
        sessionStorage.setItem('rating', rating);
        // Hide gpu search results box
        sessionStorage.setItem('display', 'none');
        document.getElementById("user_select_form").style.display = sessionStorage.getItem('display');
        // Set inner html of hidden text area that stores gpu rating to be sent to the backend
        var gpu_choice = sessionStorage.getItem('rating');
        // Changes the gpu search input placeholder to that of the user choice
        document.getElementById("query-gpu").placeholder = sessionStorage.getItem('gpu');
        // Updates the session storage value for the gpu model
        document.getElementById('submit-gpu-model').innerHTML = sessionStorage.getItem('gpu');
        document.getElementById("submit-gpu-rating").innerText = sessionStorage.getItem('rating');
        // Updates the session storage value for the gpu rating
    }

    // Sets all the hidden textarea data to be sent to the backend on submit
    document.getElementById('submit-game-id').innerText = sessionStorage.getItem('appid');
    document.getElementById('submit-game-name').innerText = sessionStorage.getItem('name');
    document.getElementById('submit-gpu-model').innerText = sessionStorage.getItem('gpu');
    document.getElementById('submit-gpu-rating').innerText = sessionStorage.getItem('rating');

    // Prevents main submit form from being sent if the hidden textareas are empty and alerts the user.
    $("#submit_to_python").submit(function (event) {
        if (document.getElementById('submit-game-id').innerText != "" && document.getElementById('submit-gpu-rating').innerText != "") {
            return;
        }
        alert("Please choose GPU/Game");
        event.preventDefault();
    });

    // Resets input field values visible to the user and resets the form hidden textarea elements sent to the backend on submission. 
    function reset() {
        sessionStorage.setItem('name', 'Search Game');
        sessionStorage.setItem('gpu', 'Search GPU');
        sessionStorage.setItem('rating', '');
        sessionStorage.setItem('appid', '');
        sessionStorage.setItem('display', 'none');
        location.reload();
    }
</script>
{% endblock %}