{% extends "base.html" %}
{% block content %}

<section id="register-body" class="col-10 col-lg-6 offset-lg-3 offset-1 d-flex justify-content-center ">
    <h1 class="center-align col-6 offset-3 text-center mt-5 color-navy">Login</h1>
    <!-- Form for user to enter their username and password-->
    <form class="w-50 mt-5" method="POST" action="{{ url_for('login') }}">
        <!-- Enter username-->
        <div class="form-group ">
            <label for="username" class="w-80 font-weight-bolder d-block my-0">Username</label>
            <input id="username" minlength="5" maxlength="20" name="username" type="text" class="validate w-100"
                required>
        </div>
        <!-- Enter password-->
        <div class="form-group">
            <label for="password" class="font-weight-bolder d-block my-0">Password</label>
            <input id="password" name="password" minlength="8" maxlength="30" type="password" class="validate w-100"
                required>
        </div>
        <button type="submit" class="btn btn-primary w-40 float-left bg-navy w-100">Login</button>
        <p class="d-block">New User? Register <a href="{{ url_for('register') }}">Here</a></p>
    </form>
</section>
{% endblock %}
{% block postloadjs %}
<script src="{{ url_for('static', filename='js/reset_index.js') }}"></script>
<script src="{{ url_for('static', filename='js/reset_profile_page_variable.js') }}"></script>
{% endblock %}