{% extends "base.html" %}
{% block content %}
<section class="container-fluid col-12 text-center">
    <div class="boder-navy p-5 border-radius-5px">
        <h3 class="mb-3"><strong>Username: </strong> {{ user.name }}</h3>
        <!-- Form to edit user GPU attribute in the user entity -->
        {% if user.gpu %}
        <p id="edit-gpu-1"><strong>GPU: </strong> {{ user.gpu }} <a href="#" data-id="1" data-number="1"
                onclick="display(this.dataset.number, this.dataset.id)"> Edit</a></p>
        <div id="gpu-results-1" class="w-100" style="display: none">
            <form id="profile-submit" class="w-100" action="{{ url_for('search_gpu') }}" method="post">
                <input placeholder="Search GPUs" type="text-gpu" name="user-gpu" id="search_gpu_input" minlength="3"
                    class="validate" required>
                <button for="profile-submit" data-id="search-button-1" data-number="1"
                    onclick="display(this.dataset.number, this.dataset.id)" type="submit">
                    Search
                    GPU</button>
            </form>
        </div>
        <!-- Displays a list of GPU search results and updates user GPU attribute in database entity on submit -->
        <div class="col-4 offset-4" id="gpu_list-1">
            {% for x in gpu %}
            <form id="submit_to_python" method="post" action="{{ url_for('submit') }}">
                <hr>
                <div class="d-block">
                    <textarea id="gpu-choice" style="display: none" class="hidden-text"
                        name="hidden-text-gpu-model">{{ x.model }}</textarea>
                    <!-- On submit, the user GPU field is updated -->
                    <button for="submit_to_python" data-id="user-gpu-choice-1" data-number="1" type="submit"
                        onclick="display(this.dataset.number, this.dataset.id)">{{ x.model }}</button>
                </div>
            </form>
            {% endfor %}
        </div>

        {% else %}
        <!-- Form to add a GPU attribute/value to the user entity when no GPU attribute is found  -->
        <p id="edit-gpu-2"><strong>GPU: </strong> {{ user.gpu }} <a href="#" data-id="2" data-number="2"
                onclick="display(this.dataset.number, this.dataset.id)"> Add GPU</a></p>
        <div id="gpu-results-2" class="w-100" style="display: none">
            <form id="profile-submit" class="w-100" action="{{ url_for('search_gpu') }}" method="post">
                <input placeholder="Search GPUs" type="text-gpu" name="user-gpu" id="search_gpu_input" minlength="3"
                    class="validate" required>
                <button for="profile-submit" data-id="search-button-2" data-number="2"
                    onclick="display(this.dataset.number, this.dataset.id)" type="submit">
                    Search
                    GPU</button>
            </form>
        </div>
        <!-- Below, the user can select from the search results -->
        <div class="col-4 offset-4" id="gpu_list-2">
            {% for x in gpu %}
            <form id="submit_to_python" method="post" action="{{ url_for('submit') }}">
                <hr>
                <div class="d-block">
                    <textarea id="gpu-choice" style="display: none" class="hidden-text"
                        name="hidden-text-gpu-model">{{ x.model }}</textarea>
                    <!-- On submit, the users GPU field is updated -->
                    <button for="submit_to_python" data-id="user-gpu-choice-2" data-number="2" type="submit"
                        onclick="display(this.dataset.number, this.dataset.id)">{{ x.model }}</button>
                </div>
            </form>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    </div>
</section>
{% endblock %}
{% block postloadjs %}
<script>
    var gpu_input_paragragh_1 = document.getElementById("edit-gpu-1");
    var display_variable_1 = sessionStorage.getItem('link-display-1');
    var gpu_input_paragragh_2 = document.getElementById("edit-gpu-2");
    var display_variable_2 = sessionStorage.getItem('link-display-2');

    // Some elements are loaded by Jinja depending on whether the user has a GPU attribute in their user entity or not.
    // If loaded by Jinja, this code edits the display value for the paragraphs with IDs of edit-gpu-1 and edit-gpu-2.
    if ((gpu_input_paragragh_1 != null && typeof(gpu_input_paragragh_1) != "undefined")) {
        if (display_variable_1 != null) {
            gpu_input_paragragh_1.style.display = display_variable_1;
            console.log("If display 1: " + gpu_input_paragragh_1.style.display) + "";
        }
        else {
            gpu_input_paragragh_1.style.display = "contents";
            console.log("Else display 1: " + gpu_input_paragragh_1.style.display) + "";
        }
    }
    if ((gpu_input_paragragh_2 != null && typeof(gpu_input_paragragh_2) != "undefined")) {
        if (display_variable_2 != null) {
            gpu_input_paragragh_2.style.display = display_variable_2;
            console.log("If display 2: " + gpu_input_paragragh_2.style.display) + "";
        }
        else {
            gpu_input_paragragh_2.style.display = "contents";
            console.log("Else display 2: " + gpu_input_paragragh_2.style.display) + "";
        }
    }
    
    // Function to control when elements are displayed.
    function display(data_number, data_id) {
        console.log(data_id);
        // Controls element display style when search button is pressed.
        if (data_id == `search-button-${data_number}`) {
            document.getElementById("gpu_list-1").style.display = 'contents';
            sessionStorage.setItem(`link-display-${data_number}`, "none");
            console.log(document.getElementById("gpu_list-1").style.display );
            return;
        }
        // Controls element display style when a GPU is pressed from the GPU list.
        else if (data_id == `user-gpu-choice-${data_number}`) {
            sessionStorage.setItem(`link-display-${data_number}`, "contents");
            return;
        }
        // Prevents display issue when profile link is pressed before a GPU is chosen.
        else if (data_id == "profile-link") {
            sessionStorage.setItem('link-display-1', 'contents');
            sessionStorage.setItem('link-display-2', 'contents');
            return;
        }
        // Controls edit-gpu-1/edit-gpu-2 paragragh display style when the edit or add GPU links are pressed.
        else {
            divID = `gpu-results-${data_number}`;
            //Shows GPU search form when edit/add-gpu link is clicked.
            document.getElementById(divID).style.display = "contents";
            // Removes edit link while form is displayed.
            document.getElementById(`edit-gpu-${data_number}`).style.display = "none";
            return;
        }
    }
    
</script>
<script type="text/javascript" src="/static/js/reset_index.js"></script>
{% endblock %}