{% extends "base.html" %}
{% block content %}
<section class="container-fluid col-12">
    <div class="boder-navy p-5 border-radius-5px">
        <h1 class="mb-3"><strong>Username: </strong> {{ user.name }}</h1>
        <!-- Form to edit user GPU attribute in the user entity -->
        {% if user.gpu %}
        <p id="edit-gpu-1"><strong>GPU: </strong> {{ user.gpu }} <a href="#" data-id="1" data-number="1"
                onclick="display(this.dataset.number, this.dataset.id)"> Edit</a></p>
        <div id="gpu-results-1" class="w-100" style="display: none">
            <form id="profile-submit-1" class="w-100" action="{{ url_for('search_gpu') }}" method="post">
                <a class="d-block btn" href="{{ url_for('profile', user=session['user'])}}">Back</a>
                <input placeholder="Search GPUs" type="text" name="user-gpu" id="search_gpu_input-1" minlength="3"
                    class="validate" required>
                <button form="profile-submit-1" data-id="search-button-1" data-number="1"
                    onclick="display(this.dataset.number, this.dataset.id)" type="submit">
                    Search
                    GPU</button>
            </form>
        </div>
        <!-- Displays a list of GPU search results and updates user GPU attribute in database entity on submit -->
        <div class="col-4 offset-4" id="gpu_list-1">
            {% for x in gpu %}
            <form id="submit_to_python-1" method="post" action="{{ url_for('submit') }}">
                <div id="user-gpu-choice-1" class="d-block">
                    <a class="d-block btn" href="{{ url_for('profile', user=session['user'])}}">Back</a>
                    <textarea id="gpu-choice-1" style="display: none" class="hidden-text"
                        name="hidden-text-gpu-model">{{ x.model }}</textarea>
                    <!-- On submit, the user GPU field is updated -->
                    <button form="submit_to_python-1" data-id="user-gpu-choice-1" data-number="1" type="submit"
                        onclick="display(this.dataset.number, this.dataset.id)">{{ x.model }}</button>
                </div>
            </form>
            {% endfor %}
        </div>
        <!-- Form for user to input the frames per second achieved while playing the game on their GPU. -->
        {% if gpu_in_database %}
        {% if gpu_in_database.games %}
        
        <div id="games-list" class="w-100">
            <p id="games" class="mb-1"><strong>Playable games</strong></p>
            {% for game in gpu_in_database.games %}

            <hr>
            <h4><strong>{{ game.name }}</strong></h4>
            <p class="mb-0">
                
                <strong>Average user FPS:</strong>
                {% if game["userfps"] %}
                {% set sum = namespace(value=0) %}
                {% set denominator = namespace(value=0) %}
                {% set averageFps = namespace(value=0) %}

                {% for object in game["userfps"] %}
                
                    {% set sum.value = sum.value + object.fps %}
                    {% set denominator.value = denominator.value + 1 %}
                {% endfor %}
                {% set averageFps.value = sum.value / denominator.value %}
                <strong>{{ averageFps.value|round(1, 'floor')|int}}</strong>
            </p>
            {% endif %}
            <p><strong>Your FPS: </strong><span id="userfps_{{ game.name|replace(' ', '') }}"></span>
                {% if game["userfps"] %}
                {% for object in game["userfps"] %}
                    {% if (object["username"] == user.name and (object["fps"] is defined ) ) %}
                        <script>
                            document.getElementById("userfps_{{ game.name|replace(' ', '') }}").innerText = {{ object.fps }};
                        </script>
                        {% break %}
                    {% else %}
                        <script>
                            document.getElementById("userfps_{{ game.name|replace(' ', '') }}").innerText = "Empty";
                        </script>
                    {% endif %}
                {% endfor %}
                {% else %}
                <script>
                    document.getElementById("userfps_{{ game.name|replace(' ', '') }}").innerText = "Empty";
                </script>
                {% endif %}
                <span id="edit-switch-{{ game.name|replace(' ', '') }}" data-switch="0"
                    data-game="{{ game.name|replace(' ', '') }}"
                    onclick="show_edit_fps_options(this.dataset.switch, this.dataset.game)">Edit</span>
                <br><br>
            </p>
            <div id="edit-fps-{{ game.name|replace(' ', '') }}" style="display: none;">
                <p>Input your FPS @ Low settings and 1080p resolution.</p>
                <form class="w-100" action="{{ url_for('profile', user=session['user'])}}" method="post">
                    <input min="0" max="1000" type="number" name="submit_fps_input">
                    <textarea style="display: none" class="hidden-text" name="game-name">{{ game.name }}</textarea>
                    <button type="submit">Submit</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% else %}
    <!-- Form to add a GPU attribute/value to the user entity when no GPU attribute is found  -->
    <p id="edit-gpu-2"><strong>GPU: </strong> {{ user.gpu }} <a href="#" data-id="2" data-number="2"
            onclick="display(this.dataset.number, this.dataset.id)"> Add GPU</a></p>
    <div id="gpu-results-2" class="w-100" style="display: none">
        <a class="d-block" href="{{ url_for('profile', user=session['user'])}}" class="btn">Back</a>
        <form id="profile-submit-2" class="w-100" action="{{ url_for('search_gpu') }}" method="post">
            <input placeholder="Search GPUs" type="text" name="user-gpu" id="search_gpu_input-2" minlength="3"
                class="validate" required>
            <button form="profile-submit-2" data-id="search-button-2" data-number="2"
                onclick="display(this.dataset.number, this.dataset.id)" type="submit">
                Search
                GPU</button>
        </form>
    </div>
    <!-- Below, the user can select from the search results -->
    <div class="col-4 offset-4" id="gpu_list-2">
        {% for x in gpu %}
        <form id="submit_to_python-2" method="post" action="{{ url_for('submit') }}">
            <a class="d-block" href="{{ url_for('profile', user=session['user'])}}" class="btn">Back</a>
            <div class="d-block">
                <textarea id="gpu-choice-2" style="display: none" class="hidden-text"
                    name="hidden-text-gpu-model">{{ x.model }}</textarea>
                <!-- On submit, the users GPU field is updated -->
                <button form="submit_to_python-2" data-id="user-gpu-choice-2" data-number="2" type="submit"
                    onclick="display(this.dataset.number, this.dataset.id)">{{ x.model }}</button>
            </div>
        </form>
        {% endfor %}
    </div>
    {% endif %}
</section>
{% endblock %}
{% block postloadjs %}
<script>


    {% if display %}
    // Enables edit options to display after browser back navigation.
    sessionStorage.setItem("link-display-1", "contents");
    sessionStorage.setItem("link-display-2", "contents");
    // Changes a session storage display variable to be used by the following If statements.
    sessionStorage.setItem("result-display-1", "none");
    sessionStorage.setItem("result-display-2", 'none');
    {% endif %}
    // Prevents search results from being displayed after browser back navigation.
    if (document.getElementById("gpu_list-1") != null) {
        if (sessionStorage.getItem('result-display-1') != null) {
            document.getElementById("gpu_list-1").style.display = sessionStorage.getItem('result-display-1');
        }
    }
    if (document.getElementById("gpu_list-2") != null) {
        if (sessionStorage.getItem('result-display-2') != null) {
            document.getElementById("gpu_list-2").style.display = sessionStorage.getItem('result-display-2');
        }
    }

    var gpu_input_paragragh_1 = document.getElementById("edit-gpu-1");
    var display_variable_1 = sessionStorage.getItem('link-display-1');
    var gpu_input_paragragh_2 = document.getElementById("edit-gpu-2");
    var display_variable_2 = sessionStorage.getItem('link-display-2');
    var games_list = document.getElementById("games-list");
    // Some elements are loaded by Jinja depending on whether the user has a GPU attribute in their user entity or not.
    // If loaded by Jinja, this code edits the display value for the paragraphs with the IDs:edit-gpu-1 and edit-gpu-2.
    if ((gpu_input_paragragh_1 != null && typeof (gpu_input_paragragh_1) != "undefined")) {
        if (display_variable_1 != null) {
            gpu_input_paragragh_1.style.display = display_variable_1;
            games_list.style.display = display_variable_1;
        }
        else {
            gpu_input_paragragh_1.style.display = "contents";
            games_list.style.display = "contents";
        }
    }
    if ((gpu_input_paragragh_2 != null && typeof (gpu_input_paragragh_2) != "undefined")) {
        if (display_variable_2 != null) {
            gpu_input_paragragh_2.style.display = display_variable_2;
        }
        else {
            gpu_input_paragragh_2.style.display = "contents";

        }
    }

    // Function to control when elements are displayed.
    function display(data_number, data_id) {

        // Controls element display style when search button is pressed.
        if (data_id == `search-button-${data_number}`) {
            sessionStorage.setItem(`result-display-${data_number}`, "contents");
            sessionStorage.setItem(`link-display-${data_number}`, "none");
            return;
        }
        // Controls element display style when a GPU is pressed from the GPU list.
        else if (data_id == `user-gpu-choice-${data_number}`) {
            sessionStorage.setItem(`result-display-${data_number}`, "none");
            sessionStorage.setItem(`link-display-${data_number}`, "contents");
            return;
        }
        // Prevents display issue when profile link is pressed before a GPU is chosen.
        else if (data_id == "profile-link") {
            sessionStorage.setItem('link-display-1', 'contents');
            sessionStorage.setItem('link-display-2', 'contents');
            return;
        }
        // Controls edit-gpu-1/edit-gpu-2 paragragh display style when the edit or add GPU links are pressed.
        else {
            let divID = `gpu-results-${data_number}`;
            //Shows GPU search form when edit/add-gpu link is clicked.
            document.getElementById(divID).style.display = "contents";
            // Removes edit link while form is displayed.
            document.getElementById(`edit-gpu-${data_number}`).style.display = "none";
            document.getElementById("games-list").style.display = "none";
            return;
        }
    }
    // Hides or shows the fps edit div when the <span> with the inner text of edit is pressed.
    function show_edit_fps_options(data_switch, data_game) {
        var switch_number = data_switch;
        let divID = `edit-fps-${data_game}`;
        let switch_id = document.getElementById(`edit-switch-${data_game}`);

        if (switch_number == 0) {
            document.getElementById(divID).style.display = "contents";
            switch_id.setAttribute("data-switch", 1);
        }
        else {
            document.getElementById(divID).style.display = "none";
            switch_id.setAttribute("data-switch", 0);
        }
    }

</script>
<script src="{{ url_for('static', filename='js/reset_index.js') }}"></script>
{% endblock %}